# on Ubuntu 18.04 Bionic, the compile error related to `MIX_INIT_MOD` is fixed by installing:
https://github.com/kivy/kivy/archive/d8ef8c2834293098bc404c0432049b2761f9b721.zip#egg=kivy
# Kivy==1.10.0
Kivy-Garden==0.1.4
isort==4.2.5
flake8==3.3.0
